<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>¡BIENVENIDO!</h1>
  <form action="/" method="post" class="form_bienvenida">
    
    <label for="name" class="form-label">Ingrese su nombre :</label>
    <input type="text" name="name" id="name" value="<%= locals.old && old.name ? old.name : null %>">
    <%= locals.errors && errors.name ? errors.name.msg : null %>
    

      
      

    <label for="color" class="form-label">Color favorito :</label>
    <select name="color" id="color">

      <option value="Rojo">Rojo</option>
      <option value="Verde">Verde</option>
      <option value="Azul">Azul</option>
      <option value="Amarillo">Amarillo</option>
      <option value="Rosa">Rosa</option>
      <option value="Celeste">Celeste</option>

    </select>
    <%= locals.errors && errors.color ? errors.color.msg : null %>

    <label for="email" class="form-label">Ingrese su email :</label>
    <input type="email" name="email" id="email" value="<%= locals.old && old.email ? old.email : null %>">
    <%= locals.errors && errors.email ? errors.email.msg : null %>

    <label for="age" class="form-label">Ingrese su edad :</label>
    <input type="text" name="age" id="age" value="<%= locals.old && old.age ? old.age : null %>">
    <%= locals.errors && errors.age ? errors.age.msg : null %>

    <button type="submit" class="button__login">Enviar</button>
  </form>
</body>

</html>