<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color: red;">
    <h2> Hola <%= %>, elegiste el color: <%= %>, tu email es:
      <%= %> y tu edad es: <%= %></h2>
    
    </form>
  </body>
</html>